/* Write your CSS here */
.app-icon {
  width: 80px;
}
.app-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-radius: 12px;
  box-sizing: border-box;
}
